<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <header style="background-color:aqua"> This is Header </header>

        @RenderBody()

        <footer style="background-color:orangered"> This is a Footer </footer>

    </div>
</body>
</html>
